set timeout=5
set default=0
terminal_output console
insmod all_video
insmod efi_gop
insmod efi_uga
if loadfont unicode; then
    insmod gfxterm
    set gfxmode=auto
    terminal_output gfxterm
fi
set gfxpayload=keep

menuentry "ALOS" {
    multiboot2 /boot/alos.elf
    boot
}

if [ -e /boot/alos_target.img ]; then
menuentry "ALOS Installer" {
    multiboot2 /boot/alos.elf install=1
    module2 /boot/alos_target.img alos-target-img
    boot
}
fi
